@supports not (color: var(--adm-color-text)) {
    .adm-button {
        color: #333;
        background-color: #fff;
        font-size: .45rem;
        border-width: .03rem;
        border-style: solid;
        border-color: #eee;
        border-radius: .11rem
    }

    .adm-button:before {
        transform: translate(-.03rem, -.03rem);
        border: .03rem solid #000;
        border-radius: .11rem
    }

    .adm-button-default.adm-button-fill-outline {
        background-color: transparent;
        border-color: #333
    }

    .adm-button-default.adm-button-fill-none {
        background-color: transparent;
        border-width: 0
    }

    .adm-button:not(.adm-button-default) {
        color: #fff
    }

    .adm-button:not(.adm-button-default).adm-button-fill-outline {
        background-color: transparent
    }

    .adm-button:not(.adm-button-default).adm-button-fill-none {
        background-color: transparent;
        border-width: 0
    }

    .adm-button-primary {
        background-color: #1677ff;
        border-color: #1677ff
    }

    .adm-button-primary.adm-button-fill-outline,
    .adm-button-primary.adm-button-fill-none {
        color: #1677ff
    }

    .adm-button-success {
        background-color: #00b578;
        border-color: #00b578
    }

    .adm-button-success.adm-button-fill-outline,
    .adm-button-success.adm-button-fill-none {
        color: #00b578
    }

    .adm-button-danger {
        background-color: #ff3141;
        border-color: #ff3141
    }

    .adm-button-danger.adm-button-fill-outline,
    .adm-button-danger.adm-button-fill-none {
        color: #ff3141
    }

    .adm-button-warning {
        background-color: #ff8f1f;
        border-color: #ff8f1f
    }

    .adm-button-warning.adm-button-fill-outline,
    .adm-button-warning.adm-button-fill-none {
        color: #ff8f1f
    }

    .adm-button.adm-button-mini {
        font-size: .35rem
    }

    .adm-button.adm-button-small {
        padding-top: .08rem;
        padding-bottom: .08rem;
        font-size: .4rem
    }

    .adm-button.adm-button-large {
        padding-top: .29rem;
        padding-bottom: .29rem;
        font-size: .48rem
    }

    .adm-button.adm-button-shape-rounded {
        border-radius: 26.67rem
    }

    .adm-button.adm-button-shape-rounded:before {
        border-radius: 26.67rem
    }

    .adm-button.adm-button-shape-rectangular {
        border-radius: 0
    }

    .adm-cascader .adm-cascader-view-content {
        height: 8.27rem
    }

    .adm-center-popup {
        z-index: 1000
    }

    .adm-center-popup-wrap {
        min-width: 7.47rem;
        max-width: 75vw
    }

    .adm-center-popup-body {
        background-color: #fff;
        border-radius: .21rem
    }

    .adm-error-block-image {
        height: 2.67rem;
        width: auto
    }

    .adm-error-block-description {
        font-size: var(--adm-font-size-4)
    }

    .adm-error-block-description-title {
        font-size: var(--adm-font-size-7)
    }

    .adm-error-block-full-page {
        padding-top: calc(50vh - 5.33rem)
    }

    .adm-error-block-full-page .adm-error-block-image {
        height: 5.33rem;
        width: auto
    }

    .adm-error-block-full-page .adm-error-block-description {
        font-size: var(--adm-font-size-main)
    }

    .adm-error-block-full-page .adm-error-block-description-title {
        color: #333
    }

    .adm-image {
        width: auto;
        height: auto
    }

    .adm-image-tip {
        background-color: #f5f5f5
    }

    .adm-image-tip>svg {
        color: #999
    }

    .adm-mask {
        z-index: 1000
    }

    .adm-modal-body {
        font-size: .37rem
    }

    .adm-modal-title {
        font-size: .48rem
    }

    .adm-modal-content {
        font-size: .4rem;
        color: #333
    }

    .adm-modal-close {
        color: #999;
        font-size: .48rem
    }

    .adm-modal-footer.adm-space.adm-space-vertical>.adm-space-item.adm-space-item {
        margin-bottom: .53rem
    }

    .adm-modal-footer.adm-space.adm-space-vertical>.adm-space-item.adm-space-item:last-child {
        margin-bottom: 0
    }

    .adm-modal-footer .adm-modal-button {
        font-size: .48rem
    }

    .adm-page-indicator-dot {
        width: .08rem;
        height: .08rem;
        border-radius: .03rem;
        background: #0003
    }

    .adm-page-indicator-dot-active {
        border-radius: .03rem;
        background: #1677ff
    }

    .adm-page-indicator-color-white .adm-page-indicator-dot-active.adm-page-indicator-dot-active {
        background: #fff
    }

    .adm-page-indicator-horizontal .adm-page-indicator-dot {
        margin-right: .08rem
    }

    .adm-page-indicator-horizontal .adm-page-indicator-dot-active {
        width: .35rem
    }

    .adm-page-indicator-vertical .adm-page-indicator-dot {
        margin-bottom: .08rem
    }

    .adm-page-indicator-vertical .adm-page-indicator-dot-active {
        height: .35rem
    }

    .adm-popover-menu.adm-popover .adm-popover-inner-content {
        padding: 0 !important
    }

    .adm-popover-menu-item-text {
        border-top: solid .03rem #eeeeee
    }

    .adm-popover-menu-item:active:not(.adm-popover-menu-item-disabled) {
        background-color: #eee
    }

    .adm-popover-menu-item:active:not(.adm-popover-menu-item-disabled):after {
        border-bottom: solid .03rem #eeeeee
    }

    .adm-popover.adm-popover-dark.adm-popover-menu.adm-popover-menu .adm-popover-menu-item-text {
        border-color: #333
    }

    .adm-popover.adm-popover-dark.adm-popover-menu.adm-popover-menu .adm-popover-menu-item:active:not(.adm-popover-menu-item-disabled) {
        background-color: #333
    }

    .adm-popover.adm-popover-dark.adm-popover-menu.adm-popover-menu .adm-popover-menu-item:active:not(.adm-popover-menu-item-disabled):after {
        border-color: #333
    }

    .adm-popover.adm-popover-dark.adm-popover-menu.adm-popover-menu .adm-popover-inner.adm-popover-inner.adm-popover-inner {
        background-color: #000000e6
    }

    .adm-popover {
        z-index: 1030;
        color: #333
    }

    .adm-popover.adm-popover-dark {
        color: #fff
    }

    .adm-popover.adm-popover-dark .adm-popover-inner {
        background-color: #000000bf
    }

    .adm-popover-inner {
        background-color: #fff;
        font-size: .4rem
    }

    .adm-popover-inner-content {
        padding: .21rem .32rem
    }

    .adm-popover-arrow {
        display: none !important
    }

    .adm-scroll-mask-left {
        background: linear-gradient(to right, #fff, #fff0)
    }

    .adm-scroll-mask-right {
        background: linear-gradient(to left, #fff, #fff0)
    }

    .adm-space-vertical>.adm-space-item {
        margin-bottom: .21rem
    }

    .adm-space-horizontal>.adm-space-item {
        margin-right: .21rem
    }

    .adm-space-horizontal.adm-space-wrap {
        flex-wrap: wrap;
        margin-bottom: -.21rem
    }

    .adm-space-horizontal.adm-space-wrap>.adm-space-item {
        padding-bottom: .21rem
    }

    .adm-segmented {
        color: #666;
        background-color: #f5f5f5;
        transition: all .3s cubic-bezier(.645, .045, .355, 1)
    }

    .adm-segmented-item {
        transition: color .3s cubic-bezier(.645, .045, .355, 1)
    }

    .adm-segmented-item-selected {
        background-color: #fff;
        box-shadow: 0 .05rem .21rem -.05rem #0000000d, 0 .03rem .11rem -.03rem #00000012, 0 0 .03rem #00000014;
        color: #333
    }

    .adm-segmented-item-disabled {
        color: #999
    }

    .adm-segmented-thumb {
        background-color: #fff;
        box-shadow: 0 .05rem .21rem -.05rem #0000000d, 0 .03rem .11rem -.03rem #00000012, 0 0 .03rem #00000014
    }

    .adm-segmented-thumb-motion-appear-active {
        transition: transform .3s cubic-bezier(.645, .045, .355, 1), width .3s cubic-bezier(.645, .045, .355, 1)
    }

    .segmented-disabled-item {
        color: #999
    }

    .segmented-item-selected {
        background-color: #fff;
        box-shadow: 0 .05rem .21rem -.05rem #0000000d, 0 .03rem .11rem -.03rem #00000012, 0 0 .03rem #00000014
    }

    .adm-spin-loading {
        width: .85rem;
        height: .85rem
    }

    .adm-spin-loading-svg {
        width: 100%;
        height: 100%;
        animation: adm-spin-loading-rotate .8s infinite linear
    }

    .adm-spin-loading-svg>.adm-spin-loading-fill {
        stroke: #999
    }

    .adm-swiper {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 0
    }

    .adm-swiper-track {
        padding: 0
    }

    .adm-swiper-horizontal .adm-swiper-track {
        transform: translate(0)
    }

    .adm-swiper-horizontal .adm-swiper-track-inner {
        width: 100%
    }

    .adm-swiper-vertical .adm-swiper-track {
        transform: translateY(0)
    }

    .adm-swiper-vertical .adm-swiper-track-inner {
        height: 100%
    }

    .adm-tabs-header {
        border-bottom: solid .03rem #eeeeee
    }

    .adm-tabs-tab {
        font-size: .45rem
    }

    .adm-tabs-tab-active {
        color: #1677ff
    }

    .adm-tabs-tab-line {
        height: .05rem;
        background: #1677ff;
        border-radius: .05rem
    }

    .adm-tabs-content {
        padding: .32rem
    }

    .adm-tabs-header-mask-left {
        background: linear-gradient(to right, #fff, #fff0)
    }

    .adm-tabs-header-mask-right {
        background: linear-gradient(to left, #fff, #fff0)
    }

    .adm-toast-mask .adm-toast-main {
        font-size: .4rem
    }

    .adm-toast-loading.adm-toast-loading {
        width: 1.28rem;
        height: 1.28rem;
        margin: 0 auto .21rem
    }

    .adm-toast-loading.adm-toast-loading .adm-spin-loading-fill {
        stroke: #fff
    }
}

:root {
    --adm-radius-s: .11rem;
    --adm-radius-m: .21rem;
    --adm-radius-l: .32rem;
    --adm-font-size-1: .24rem;
    --adm-font-size-2: .27rem;
    --adm-font-size-3: .29rem;
    --adm-font-size-4: .32rem;
    --adm-font-size-5: .35rem;
    --adm-font-size-6: .37rem;
    --adm-font-size-7: .4rem;
    --adm-font-size-8: .43rem;
    --adm-font-size-9: .45rem;
    --adm-font-size-10: .48rem;
    --adm-color-primary: #1677ff;
    --adm-color-success: #00b578;
    --adm-color-warning: #ff8f1f;
    --adm-color-danger: #ff3141;
    --adm-color-yellow: #ff9f18;
    --adm-color-orange: #ff6430;
    --adm-color-wathet: #e7f1ff;
    --adm-color-text: #333333;
    --adm-color-text-secondary: #666666;
    --adm-color-weak: #999999;
    --adm-color-light: #cccccc;
    --adm-color-border: #eeeeee;
    --adm-color-background: #ffffff;
    --adm-color-highlight: var(--adm-color-danger);
    --adm-color-white: #ffffff;
    --adm-color-box: #f5f5f5;
    --adm-color-text-light-solid: var(--adm-color-white);
    --adm-color-text-dark-solid: #000000;
    --adm-color-fill-content: var(--adm-color-box);
    --adm-font-size-main: var(--adm-font-size-5);
    --adm-font-family: -apple-system, blinkmacsystemfont, "Helvetica Neue", helvetica, segoe ui, arial, roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    --adm-border-color: var(--adm-color-border)
}

@font-face {
    font-family: iconfont;
    src: url(/@/assets/fonts/font_4522405_d7obt5bsjk.woff2) format("woff2"), url(/@/assets/fonts/font_4522405_d7obt5bsjk.woff) format("woff"), url(/@/assets/fonts/font_4522405_d7obt5bsjk.ttf) format("truetype")
}

.iconfont {
    font-family: iconfont !important;
    font-size: .43rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.icon-balance:before {
    content: ""
}

.icon-ic_check:before {
    content: ""
}

.icon-chenggong1:before {
    content: ""
}

.icon-chenggong:before {
    content: ""
}

.icon-a-zd_icon2:before {
    content: ""
}

.icon-zd_icon:before {
    content: ""
}

.icon-jilu_icon:before {
    content: ""
}

.icon-down1:before {
    content: ""
}

.icon-chacha_icon:before {
    content: ""
}

.icon-close:before {
    content: ""
}

.icon-a-mp_icon1:before {
    content: ""
}

.icon-down:before {
    content: ""
}

.icon-jianpan2:before {
    content: ""
}

.icon-jianpan:before {
    content: ""
}

.icon-jianpan1:before {
    content: ""
}

.icon-a-gj_icon2:before {
    content: ""
}

.icon-gji_icon:before {
    content: ""
}

.icon-qh_icon:before {
    content: ""
}

.icon-gz_icon:before {
    content: ""
}

.icon-cc_icon:before {
    content: ""
}

.icon-bottom:before {
    content: ""
}

.icon-add:before {
    content: ""
}

.icon-weixin:before {
    content: ""
}

.icon-search:before {
    content: ""
}

.icon-left:before {
    content: ""
}

.icon-zhuanfa:before {
    content: ""
}

.icon-chehui:before {
    content: ""
}

.icon-miandarao:before {
    content: ""
}

.icon-Right:before {
    content: ""
}

.icon-gengduo:before {
    content: ""
}

.icon-gou1:before {
    content: ""
}

.icon-tianjiahaoyou:before {
    content: ""
}

.icon-shanchu:before {
    content: ""
}

.icon-fuzhi:before {
    content: ""
}

.icon-scan:before {
    content: ""
}

.icon-shezhi:before {
    content: ""
}

.icon-yuyin:before {
    content: ""
}

.icon-erweima:before {
    content: ""
}

.icon-paishexuanzhong:before {
    content: ""
}

.icon-shipin:before {
    content: ""
}

.icon-tupian1:before {
    content: ""
}

.icon-guanbi:before {
    content: ""
}

.icon-jianpanqiehuan:before {
    content: ""
}

.icon-bofang:before {
    content: ""
}

.icon-biaoqing:before {
    content: ""
}

.icon-yuyin1:before {
    content: ""
}

.icon-loadc:before {
    content: ""
}

.icon-sousuo:before {
    content: ""
}

.icon-tianjia:before {
    content: ""
}
* {
    margin: 0;
    padding: 0;
    list-style: none
}
body {
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    overflow: hidden
}

html {
    font-size: 10vw
}
:root:root {
    --adm-color-primary: #07C160
}
.text-primary {
    color: var(--adm-color-primary)
}

.bg-primary {
    background-color: var(--adm-color-primary)
}
.fs-20 {
    font-size: .53rem
}

.adm-text-area-element {
    font-size: .43rem!important;
    line-height: .48rem!important;
    min-height: .48rem!important
}
.adm-checkbox-icon {
    border-radius: .11rem!important
}

.scratch_checked .adm-checkbox-checked .adm-checkbox-icon {
    background-color: #ee504f!important;
    border-color: #ee504f!important;
    width: .43rem!important;
    height: .43rem!important
}

.scratch_checked .adm-checkbox-icon {
    border-color: var(--adm-color-light)!important;
    width: .43rem!important;
    height: .43rem!important
}
.adm-radio-checked .adm-radio-icon,.adm-checkbox-checked .adm-checkbox-icon {
    border-color: #0075ff!important;
    background: #0075ff!important
}

.adm-radio-icon,.adm-checkbox-icon {
    background-color: #fff!important;
    border-color: #767676!important;
    border-radius: .05rem!important;
    width: .37rem!important;
    height: .37rem!important;
    margin-left: .11rem
}
.adm-radio-content,.adm-checkbox-content {
    padding-left: 0!important;
    font-size: .4rem!important
}

.adm-radio .adm-radio-icon>svg,.adm-checkbox .adm-checkbox-icon>svg {
    transform: scale(1.5)
}

.amount_input input {
    height: .85rem!important;
    font-size: .43rem!important
}
.scratch_container .adm-mask {
    opacity: 1!important
}

.reset_container .scratch_body {
    animation: scratch .3s ease-out
}
@keyframes scratch {
    0% {
        opacity: 0;
        transform: scale(.7)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}
.adm-notice-bar.adm-notice-bar-alert {
    border-color: #f1f1f1
}

.home-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
html[data-prefers-color-scheme=dark] {
    --adm-color-primary: #3086ff;
    --adm-color-success: #34b368;
    --adm-color-warning: #ffa930;
    --adm-color-danger: #ff4a58;
    --adm-color-yellow: #ffa930;
    --adm-color-orange: #e65a2b;
    --adm-color-wathet: #0d2543;
    --adm-color-text: #e6e6e6;
    --adm-color-text-secondary: #b3b3b3;
    --adm-color-weak: #808080;
    --adm-color-light: #4d4d4d;
    --adm-color-border: #2b2b2b;
    --adm-color-box: #0a0a0a;
    --adm-color-background: #1a1a1a;
    --adm-color-background-body: var(--adm-color-background);
    --adm-border-color: var(--adm-color-border)
}
:root {
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

html {
    background-color: var(--adm-color-background-body)
}

body {
    color: var(--adm-color-text);
    font-size: var(--adm-font-size-main);
    font-family: var(--adm-font-family)
}

a,button {
    cursor: pointer
}
a {
    color: var(--adm-color-primary);
    transition: opacity ease-in-out .2s
}

a:active {
    opacity: .8
}

.adm-plain-anchor {
    color: unset;
    transition: none
}

.adm-plain-anchor:active {
    opacity: unset
}

body.adm-overflow-hidden {
    overflow: hidden!important
}

div.adm-px-tester {
    --size: 1;
    height: calc(var(--size) / 2 * .05rem);
    width: 0;
    position: fixed;
    left: -100vw;
    top: -100vh;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none
}

.adm-mask {
    --z-index: var(--adm-mask-z-index, 1000);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index);
    display: block;
    width: 100%;
    height: 100%
}

.adm-mask-aria-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.adm-mask-content {
    z-index: 1
}

.adm-auto-center {
    display: flex;
    justify-content: center
}

.adm-auto-center-content {
    flex: 0 1 auto
}

.adm-image {
    --width: var(--adm-image-width, auto);
    --height: var(--adm-image-height, auto);
    width: var(--width);
    height: var(--height);
    display: block;
    overflow: hidden
}

.adm-image-img {
    width: 100%;
    height: 100%
}

.adm-image-tip {
    position: relative;
    background-color: var(--adm-color-fill-content);
    height: 100%;
    min-height: .64rem;
    min-width: .64rem
}

.adm-image-tip>svg {
    width: .64rem;
    height: .64rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--adm-color-weak)
}

.adm-button {
    --color: var(--adm-color-text-light-solid);
    --text-color: var(--adm-button-text-color, var(--adm-color-text));
    --background-color: var(--adm-button-background-color, var(--adm-color-background));
    --border-radius: var(--adm-button-border-radius, 4px);
    --border-width: var(--adm-button-border-width, 1px);
    --border-style: var(--adm-button-border-style, solid);
    --border-color: var(--adm-button-border-color, var(--adm-color-border));
    color: var(--text-color);
    background-color: var(--background-color);
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: auto;
    padding: .19rem .32rem;
    margin: 0;
    font-size: var(--adm-font-size-9);
    line-height: 1.4;
    text-align: center;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: opacity ease .15s;
    -webkit-user-select: none;
    user-select: none
}

.adm-button:focus {
    outline: none
}

.adm-button:before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(calc(var(--border-width) * -1),calc(var(--border-width) * -1));
    width: 100%;
    height: 100%;
    background-color: var(--adm-color-text-dark-solid);
    border: var(--border-width) var(--border-style) var(--adm-color-text-dark-solid);
    border-radius: var(--border-radius);
    opacity: 0;
    content: " ";
    box-sizing: content-box
}

.adm-button:active:before {
    opacity: .08
}

.adm-button-default.adm-button-fill-outline {
    --background-color: transparent;
    --border-color: var(--adm-color-text)
}

.adm-button-default.adm-button-fill-none {
    --background-color: transparent;
    --border-width: 0
}

.adm-button:not(.adm-button-default) {
    --text-color: var(--adm-color-text-light-solid);
    --background-color: var(--color);
    --border-color: var(--color)
}

.adm-button:not(.adm-button-default).adm-button-fill-outline {
    --text-color: var(--color);
    --background-color: transparent
}

.adm-button:not(.adm-button-default).adm-button-fill-none {
    --text-color: var(--color);
    --background-color: transparent;
    --border-width: 0
}

.adm-button-primary {
    --color: var(--adm-color-primary)
}

.adm-button-success {
    --color: var(--adm-color-success)
}

.adm-button-danger {
    --color: var(--adm-color-danger)
}

.adm-button-warning {
    --color: var(--adm-color-warning)
}

.adm-button-block {
    display: block;
    width: 100%
}

.adm-button-disabled {
    cursor: not-allowed;
    opacity: .4
}

.adm-button-disabled:active:before {
    display: none
}

.adm-button.adm-button-mini {
    padding-top: .08rem;
    padding-bottom: .08rem;
    font-size: var(--adm-font-size-main)
}

.adm-button.adm-button-mini.adm-button-shape-rounded {
    padding-left: .24rem;
    padding-right: .24rem
}

.adm-button.adm-button-small {
    padding-top: .08rem;
    padding-bottom: .08rem;
    font-size: var(--adm-font-size-7)
}

.adm-button.adm-button-large {
    padding-top: .29rem;
    padding-bottom: .29rem;
    font-size: var(--adm-font-size-10)
}

.adm-button.adm-button-shape-rounded {
    --border-radius: 26.67rem
}

.adm-button.adm-button-shape-rectangular {
    --border-radius: 0
}

.adm-button-loading {
    vertical-align: bottom
}

.adm-button-loading-wrapper {
    display: flex;
    height: 1.4em;
    align-items: center;
    justify-content: center
}

.adm-button-loading-wrapper>.adm-loading {
    opacity: .6
}

.adm-dot-loading {
    display: inline-block
}

.adm-spin-loading {
    --color: var(--adm-color-weak);
    --size: .85rem;
    width: var(--size);
    height: var(--size)
}

.adm-spin-loading-svg {
    width: 100%;
    height: 100%;
    animation: adm-spin-loading-rotate .8s infinite linear
}

.adm-spin-loading-svg>.adm-spin-loading-fill {
    stroke: var(--color)
}
@keyframes adm-spin-loading-rotate {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}
.adm-center-popup {
    --background-color: var(--adm-center-popup-background-color, var(--adm-color-background));
    --border-radius: var(--adm-center-popup-border-radius, 8px);
    --max-width: var(--adm-center-popup-max-width, 75vw);
    --min-width: var(--adm-center-popup-min-width, 280px);
    --z-index: var(--adm-center-popup-z-index, 1000);
    position: fixed;
    z-index: var(--z-index)
}

.adm-center-popup .adm-center-popup-mask {
    z-index: 0
}

.adm-center-popup-wrap {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
    transform: translate(-50%,-50%)
}

.adm-center-popup-body {
    background-color: var(--background-color);
    border-radius: var(--border-radius)
}

.adm-center-popup-close {
    position: absolute;
    z-index: 100;
    right: .21rem;
    top: .21rem;
    cursor: pointer;
    padding: .11rem;
    font-size: .48rem;
    color: var(--adm-color-weak)
}

.adm-checkbox {
    --icon-size: .59rem;
    --font-size: var(--adm-font-size-9);
    --gap: .21rem;
    display: inline-flex;
    vertical-align: text-bottom;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer
}

.adm-checkbox input {
    display: none
}

.adm-checkbox .adm-checkbox-icon {
    flex: none;
    border: .03rem solid var(--adm-color-light);
    border-radius: var(--icon-size);
    box-sizing: border-box;
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--adm-color-text-light-solid)
}

.adm-checkbox .adm-checkbox-icon>svg {
    display: block;
    width: 100%;
    height: 100%
}

.adm-checkbox.adm-checkbox-block {
    display: flex
}

.adm-checkbox.adm-checkbox-checked .adm-checkbox-icon {
    border-color: var(--adm-color-primary);
    background-color: var(--adm-color-primary)
}

.adm-checkbox.adm-checkbox-disabled {
    cursor: not-allowed
}

.adm-checkbox.adm-checkbox-disabled .adm-checkbox-content {
    opacity: .4
}

.adm-checkbox.adm-checkbox-disabled .adm-checkbox-icon.adm-checkbox-icon {
    color: var(--adm-color-light);
    border-color: var(--adm-color-light);
    background-color: var(--adm-color-fill-content)
}

.adm-checkbox .adm-checkbox-custom-icon {
    font-size: var(--icon-size)
}

.adm-checkbox.adm-checkbox-indeterminate .adm-checkbox-icon {
    background-color: var(--adm-color-background);
    color: var(--adm-color-primary)
}

.adm-checkbox-content {
    flex: 0 1 auto;
    font-size: var(--font-size);
    padding-left: var(--gap)
}

.adm-space-item {
    flex: none
}

.adm-space {
    display: inline-flex;
    --gap: .21rem;
    --gap-vertical: var(--gap);
    --gap-horizontal: var(--gap)
}

.adm-space-vertical {
    flex-direction: column
}

.adm-space-vertical>.adm-space-item {
    margin-bottom: var(--gap-vertical)
}

.adm-space-vertical>.adm-space-item:last-child {
    margin-bottom: 0
}

.adm-space-horizontal {
    flex-direction: row
}

.adm-space-horizontal>.adm-space-item {
    margin-right: var(--gap-horizontal)
}

.adm-space-horizontal>.adm-space-item:last-child {
    margin-right: 0
}

.adm-space-horizontal.adm-space-wrap {
    flex-wrap: wrap;
    margin-bottom: calc(var(--gap-vertical) * -1)
}

.adm-space-horizontal.adm-space-wrap>.adm-space-item {
    padding-bottom: var(--gap-vertical)
}

.adm-space.adm-space-block {
    display: flex
}

.adm-space-align-center {
    align-items: center
}

.adm-space-align-start {
    align-items: flex-start
}

.adm-space-align-end {
    align-items: flex-end
}

.adm-space-align-baseline {
    align-items: baseline
}

.adm-space-justify-center {
    justify-content: center
}

.adm-space-justify-start {
    justify-content: flex-start
}

.adm-space-justify-end {
    justify-content: flex-end
}

.adm-space-justify-between {
    justify-content: space-between
}

.adm-space-justify-around {
    justify-content: space-around
}

.adm-space-justify-evenly {
    justify-content: space-evenly
}

.adm-space-justify-stretch {
    justify-content: stretch
}

.adm-input {
    --font-size: var(--adm-font-size-9);
    --color: var(--adm-color-text);
    --placeholder-color: var(--adm-color-light);
    --text-align: left;
    --background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: .64rem;
    background-color: var(--background-color)
}

.adm-input-disabled {
    opacity: .4;
    cursor: not-allowed
}

.adm-input-element {
    flex: auto;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    color: var(--color);
    font-size: var(--font-size);
    line-height: 1.5;
    background: transparent;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 1.5em;
    text-align: var(--text-align)
}

.adm-input-element::-webkit-input-placeholder {
    color: var(--placeholder-color);
    font-family: inherit
}

.adm-input-element::placeholder {
    color: var(--placeholder-color);
    font-family: inherit
}

.adm-input-element:-webkit-autofill {
    background-color: transparent
}

.adm-input-element:read-only {
    cursor: default
}

.adm-input-element:invalid {
    box-shadow: none
}

.adm-input-element::-ms-clear {
    display: none
}

.adm-input-element::-ms-reveal {
    display: none
}

.adm-input-element::-webkit-search-cancel-button {
    display: none
}

.adm-input-element::-webkit-search-decoration {
    display: none
}

.adm-input-element:disabled {
    opacity: 1
}

.adm-input-element[type=date],.adm-input-element[type=time],.adm-input-element[type=datetime-local] {
    min-height: 1.5em
}

.adm-input-element[type=search] {
    -webkit-appearance: none
}

.adm-input-element[readonly] {
    pointer-events: none
}

.adm-input-clear {
    flex: none;
    margin-left: .21rem;
    color: var(--adm-color-light);
    padding: .11rem;
    cursor: pointer
}

.adm-input-clear:active {
    color: var(--adm-color-weak)
}

.adm-input-clear .antd-mobile-icon {
    display: block;
    font-size: var(--adm-font-size-7)
}

.adm-modal {
    --z-index: var(--adm-modal-z-index, 1000);
    ---z-index: var(--z-index)
}

.adm-modal .adm-center-popup {
    --z-index: var(---z-index)
}

.adm-modal-body {
    width: 100%;
    max-height: 70vh;
    font-size: var(--adm-font-size-6);
    overflow: hidden;
    display: flex;
    flex-direction: column
}

.adm-modal-body>* {
    flex: none
}

.adm-modal-body>.adm-modal-content {
    flex: auto
}

.adm-modal-body:not(.adm-modal-with-image) {
    padding-top: .53rem
}

.adm-modal-image-container {
    margin-bottom: .32rem;
    max-height: 40vh;
    overflow-y: scroll
}

.adm-modal-header {
    margin-bottom: .21rem;
    padding: 0 .32rem
}

.adm-modal-title {
    margin-bottom: .21rem;
    padding: 0 .32rem;
    font-weight: 700;
    font-size: var(--adm-font-size-10);
    line-height: .67rem;
    text-align: center
}

.adm-modal-content {
    padding: 0 .32rem .32rem;
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: var(--adm-font-size-7);
    line-height: 1.4;
    color: var(--adm-color-text)
}

.adm-modal-footer {
    -webkit-user-select: none;
    user-select: none;
    padding: .21rem .32rem .32rem
}

.adm-modal-footer-empty {
    padding: 0;
    height: .21rem
}

.adm-modal-footer.adm-space {
    --gap-vertical: .53rem
}

.adm-modal-footer .adm-modal-button {
    font-size: var(--adm-font-size-10);
    line-height: .67rem
}

.adm-modal-footer .adm-modal-button:not(.adm-modal-button-primary) {
    padding-top: 0;
    padding-bottom: 0
}

.adm-modal-footer .adm-modal-button:not(.adm-modal-button-primary):before {
    display: none
}

.adm-modal-footer .adm-modal-button:not(.adm-modal-button-primary):active {
    opacity: .7
}

.adm-notice-bar {
    --background-color: var(--adm-color-weak);
    --border-color: var(--adm-color-weak);
    --text-color: var(--adm-color-text-light-solid);
    --font-size: var(--adm-font-size-7);
    --icon-font-size: var(--adm-font-size-10);
    --height: 1.07rem;
    --adm-notice-bar-border-radius: .11rem;
    --adm-notice-bar-border-width: .03rem;
    height: var(--height);
    box-sizing: border-box;
    font-size: var(--font-size);
    padding: 0 .32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid var(--adm-notice-bar-border-width) var(--border-color);
    border-left-width: 0;
    border-right-width: 0;
    background-color: var(--background-color);
    color: var(--text-color)
}

.adm-notice-bar>span[role=img] {
    color: var(--text-color)
}

.adm-notice-bar.adm-notice-bar-alert {
    --background-color: #fff9ed;
    --border-color: #fff3e9;
    --text-color: var(--adm-color-orange)
}

.adm-notice-bar.adm-notice-bar-error {
    --background-color: var(--adm-color-danger);
    --border-color: #d9281e;
    --text-color: #fff
}

.adm-notice-bar.adm-notice-bar-info {
    --background-color: #d0e4ff;
    --border-color: #bcd8ff;
    --text-color: var(--adm-color-primary)
}

.adm-notice-bar.adm-notice-bar-success {
    --background-color: #d1fff0;
    --border-color: #a8f0d8;
    --text-color: var(--adm-color-success)
}

.adm-notice-bar .adm-notice-bar-left {
    flex-shrink: 0;
    margin-right: .21rem;
    font-size: var(--icon-font-size)
}

.adm-notice-bar .adm-notice-bar-content {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center
}

.adm-notice-bar .adm-notice-bar-content .adm-notice-bar-content-inner {
    width: auto;
    transition-timing-function: linear;
    white-space: nowrap
}

.adm-notice-bar-wrap.adm-notice-bar .adm-notice-bar-content .adm-notice-bar-content-inner {
    white-space: normal
}

.adm-notice-bar .adm-notice-bar-right {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: .32rem
}

.adm-notice-bar-close {
    width: .64rem;
    height: .64rem;
    margin-right: -.08rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--adm-font-size-10)
}

.adm-notice-bar-wrap {
    height: auto;
    align-items: flex-start;
    padding-top: .21rem;
    padding-bottom: .21rem;
    line-height: .59rem
}

.adm-notice-bar-neutral {
    border-radius: var(--adm-notice-bar-border-radius)
}

.adm-notice-bar-rounded {
    border-radius: 26.67rem
}

.adm-notice-bar-bordered {
    border-left-width: var(--adm-notice-bar-border-width);
    border-right-width: var(--adm-notice-bar-border-width)
}

.adm-notice-bar-without-border {
    border-top-width: 0;
    border-bottom-width: 0
}
.adm-radio {
    --icon-size: .59rem;
    --font-size: var(--adm-font-size-9);
    --gap: .21rem;
    display: inline-flex;
    vertical-align: text-bottom;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer
}

.adm-radio input[type=radio] {
    display: none
}

.adm-radio .adm-radio-icon {
    flex: none;
    border: .03rem solid var(--adm-color-light);
    border-radius: var(--icon-size);
    box-sizing: border-box;
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--adm-color-text-light-solid)
}

.adm-radio .adm-radio-icon>svg {
    display: block;
    width: 100%;
    height: 100%
}

.adm-radio.adm-radio-block {
    display: flex
}

.adm-radio.adm-radio-checked .adm-radio-icon {
    border-color: var(--adm-color-primary);
    background-color: var(--adm-color-primary)
}

.adm-radio.adm-radio-disabled {
    cursor: not-allowed
}

.adm-radio.adm-radio-disabled .adm-radio-content {
    opacity: .4
}

.adm-radio.adm-radio-disabled .adm-radio-icon {
    color: var(--adm-color-light);
    border-color: var(--adm-color-light);
    background-color: var(--adm-color-fill-content)
}

.adm-radio .adm-radio-custom-icon {
    font-size: var(--icon-size)
}

.adm-radio-content {
    flex: 0 1 auto;
    font-size: var(--font-size);
    padding-left: var(--gap)
}

.adm-text-area {
    --font-size: var(--adm-font-size-9);
    --color: var(--adm-color-text);
    --placeholder-color: var(--adm-color-light);
    --disabled-color: var(--adm-color-weak);
    --text-align: left;
    --count-text-align: right;
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 100%
}

.adm-text-area-element {
    font-family: var(--adm-font-family);
    resize: none;
    flex: auto;
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    color: var(--color);
    font-size: var(--font-size);
    line-height: 1.5;
    background: transparent;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 1.5em;
    text-align: var(--text-align)
}

.adm-text-area-element::-webkit-input-placeholder {
    color: var(--placeholder-color);
    font-family: inherit
}

.adm-text-area-element::placeholder {
    color: var(--placeholder-color);
    font-family: inherit
}

.adm-text-area-element:-webkit-autofill {
    background-color: transparent
}

.adm-text-area-element:disabled {
    color: var(--disabled-color);
    cursor: not-allowed;
    opacity: 1;
    -webkit-text-fill-color: var(--disabled-color)
}

.adm-text-area-element:read-only {
    cursor: default
}

.adm-text-area-element:invalid {
    box-shadow: none
}

.adm-text-area-element::-ms-clear {
    display: none
}

.adm-text-area-element-hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000
}

.adm-text-area-count {
    text-align: var(--count-text-align);
    color: var(--adm-color-weak);
    font-size: var(--adm-font-size-9);
    padding-top: .21rem
}

.adm-toast-mask .adm-toast-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center
}

.adm-toast-mask .adm-toast-main {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    max-width: 5.44rem;
    max-height: 70%;
    overflow: auto;
    color: #fff;
    word-break: break-all;
    background-color: #000000b3;
    border-radius: .21rem;
    pointer-events: all;
    font-size: var(--adm-font-size-7);
    line-height: 1.5;
    box-sizing: border-box;
    text-align: initial
}

.adm-toast-mask .adm-toast-main-text {
    padding: .32rem;
    min-width: 0
}

.adm-toast-mask .adm-toast-main-icon {
    padding: .93rem .32rem;
    min-width: 4rem
}

.adm-toast-mask .adm-toast-main-icon .adm-toast-icon {
    text-align: center;
    margin-bottom: .21rem;
    font-size: .96rem;
    line-height: 1
}

.adm-toast-loading {
    --size: 1.28rem;
    margin: 0 auto .21rem
}

.keyboard {
    display: grid;
    grid-column: span 9;
    grid-template-columns: repeat(9,1fr);
    background: #d0d3dc;
    grid-gap: .13rem;
    text-align: center;
    padding: .11rem .27rem .27rem
}

.keyboard-item {
    background-color: #fff;
    font-size: .4rem;
    line-height: .8rem;
    border-radius: .21rem;
    color: #000;
    font-weight: 700
}

.delete {
    color: red;
    font-weight: 900;
    line-height: .69rem
}

.newline {
    background-color: orange
}

._keyboard_container_82cnr_1 {
    min-height: 4.8rem;
    background: #d0d3dc
}

._keyboard_82cnr_1 {
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(2,1fr);
    grid-gap: .13rem;
    text-align: center;
    padding: .11rem .27rem .27rem;
    box-sizing: border-box
}

._keyboard_item_82cnr_16 {
    background-color: #fff;
    font-size: .4rem;
    line-height: .8rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 .05rem
}

.field-box {
    display: flex;
    align-items: flex-end;
    padding: .16rem 0;
    border-top: .03rem solid #d1d1d1;
    background: #f6f6f6
}

.field-container {
    padding: .11rem .21rem;
    background-color: #fff;
    flex: 1;
    border-radius: .16rem;
    border: .03rem solid #dcdcde
}

.field-icon {
    font-size: .64rem!important;
    padding: 0 .05rem;
    margin: 0 .27rem
}

.button-item {
    margin-left: .27rem;
    background: var(--adm-color-primary);
    width: 1.28rem;
    font-size: .37rem;
    height: .72rem;
    line-height: .72rem;
    text-align: center;
    border-radius: .11rem;
    color: #fff
}

.button-item.double {
    background: var(--adm-color-danger);
}

._auto_item_1fa8d_35 {
    background: var(--adm-color-danger)
}

._content_item_1fysr_1 {
    padding: .27rem .27rem .67rem
}

._button_wrap_1fysr_5 {
    display: flex;
    border-top: .03rem solid #E8E8E8
}

._button_item_1fysr_10 {
    flex: 1;
    text-align: center;
    height: 1.07rem;
    line-height: 1.07rem
}

._divider_1fysr_17 {
    width: .03rem;
    background: #e8e8e8
}

._cancel_1fysr_22:active {
    background-color: #e8e8e8
}

._confirm_1fysr_26:active {
    color: #fff;
    background-color: var(--adm-color-primary)
}

.more_wrap .adm-modal-content,.none_content_padding .adm-modal-content {
    padding: 0
}

.more_wrap .adm-modal-footer.adm-space {
    display: none
}

.loading-container {
    margin-bottom: .27rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    text-align: center
}

.loading-item {
    width: .21rem;
    height: .43rem;
    display: inline-block;
    margin: .27rem .11rem 0;
    background: #dde2e7;
    animation: _throbber-loader_db0rz_1 1.5s ease-out infinite
}

.delay-1 {
    animation-delay: 0s
}

.delay-2 {
    animation-delay: .15s
}

.delay-3 {
    animation-delay: .3s
}

@keyframes _throbber-loader_db0rz_1 {
    0% {
        background: #dde2e7
    }

    10% {
        background: #6b9dc8
    }

    40% {
        background: #dde2e7
    }
}

.message-wrap {
    flex: 1;
    overflow: hidden;
    position: relative;
    vertical-align: top
}

.message-box {
    height: 100%;
    padding: .37rem .4rem 0;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-anchor: none;
    overscroll-behavior-y: none
}

.message-item {
    display: flex;
    margin-bottom: .4rem
}

.message-item-right {
    flex-direction: row-reverse
}

.avatar {
    width: 1.28rem;
    height: 1.28rem;
    border-radius: .11rem
}

.message-main {
    padding: 0 .32rem
}

._nick_right_4g0vi_36 {
    text-align: right
}

.nick {
    color: #6f6f6f;
    font-size: .4rem;
    line-height: .4rem;
    margin-bottom: .11rem
}

.chat-bubble {
    display: inline-block;
    max-width: 5.6rem;
    padding: .16rem;
    background: #fff;
    border-radius: .16rem;
    border: .03rem solid #d1d1d1;
    position: relative
}

.chat-bubble:after {
    content: "";
    position: absolute;
    top: .21rem;
    border-width: .03rem;
    border-style: solid;
    width: .27rem;
    height: .27rem;
    border-radius: .11rem;
    transform: rotate(45deg)
}

.pre-item {
    font-size: .4rem;
    line-height: .45rem;
    white-space: pre-wrap;
    word-wrap: break-word
}

._return_button_4g0vi_75 {
    position: absolute;
    bottom: .11rem;
    left: .11rem;
    width: 1.76rem;
    height: .53rem;
    z-index: 2
}

.chat-out {
    background-color: #a1e85a
}

.chat-out:after {
    right: -.16rem;
    background-color: #a1e85a;
    border-color: #d1d1d1 #d1d1d1 transparent transparent
}

.chat-in:after {
    left: -.16rem;
    background-color: #fff;
    border-color: transparent transparent #d1d1d1 #d1d1d1
}

.unread-container {
    position: absolute;
    bottom: .11rem;
    right: .4rem;
    display: inline-block;
    margin-right: .27rem;
    background-color: #fff;
    color: var(--adm-color-primary);
    padding: .21rem .4rem;
    border-radius: .91rem;
    font-size: .4rem;
    font-weight: 700
}

.scratch-img {
    position: absolute;
    top: 50%;
    right: .4rem;
    width: 1.33rem;
    height: 1.33rem;
    border-radius: 50%;
    overflow: hidden
}

.scratch-img-item {
    width: 100%;
    height: 100%
}

._table_head_4g0vi_128 {
    background: #39f;
    color: #fff;
    height: .67rem
}

._table_body_4g0vi_134 {
    background: #fafafa;
    height: .67rem
}

._table_body_4g0vi_134:nth-child(odd) {
    background: #f0f0f0
}

._code_num1_4g0vi_143 {
    color: #8b658b
}

._code_num6_4g0vi_146 {
    color: #fd427f
}

._code_num7_4g0vi_149 {
    color: #63c
}

._code_num8_4g0vi_152 {
    color: #3a96ff
}

._code_num9_4g0vi_155 {
    color: #3f6
}

._container_uur0r_1 {
    text-align: center;
    padding: .21rem
}

._scratch_wrap_uur0r_6 {
    background: #ffe4f3;
    border-radius: .11rem;
    padding: .4rem .21rem
}

._scratch_container_uur0r_12 {
    margin: .27rem 0;
    padding: .11rem;
    background: #f70281;
    border-radius: .11rem
}

._scratch_main_uur0r_19 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc((88vw - .53rem)*.42);
    background: #ffe4f3;
    position: relative
}

._scratch_code_uur0r_28 {
    z-index: 1
}

._code_item_uur0r_32 {
    width: 1.07rem;
    height: 1.07rem;
    display: inline-block;
    line-height: 1.07rem;
    border-radius: 50%;
    color: #fff;
    background: #8022a5;
    background-size: 100%;
    margin: 0 .11rem;
    font-size: .53rem;
    font-weight: 700
}

._title_uur0r_46 {
    font-size: .43rem;
    color: #d33592;
    font-weight: 700
}

._count_item_uur0r_52 {
    height: .53rem;
    margin-top: .21rem
}

._content_uur0r_57 {
    color: #ea5552;
    font-size: .43rem;
    font-weight: 700
}

._refurbish_item_uur0r_63 {
    margin-top: .59rem;
    background: #c5ce1b;
    font-size: .4rem;
    line-height: .4rem;
    padding: .27rem 0;
    border-radius: .11rem
}

._back_item_uur0r_72 {
    margin-top: .53rem;
    background: #ee504f;
    color: #fff;
    font-size: .4rem;
    line-height: .4rem;
    padding: .27rem 0;
    border-radius: .11rem
}

._check_container_uur0r_82 {
    margin-top: .27rem
}

._scratch_card_1xrct_1 {
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: -.03rem;
    top: -.03rem;
    right: -.03rem
}

._img_item_1xrct_12 {
    width: 100%;
    height: auto;
    transform: translateY(.03rem)
}

._header_container_mv9bo_1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0
}

._header_mv9bo_1 {
    height: 1.49rem;
    background: #fb5924;
    text-align: center;
    position: relative
}

.pick-title {
    font-size: .53rem;
    font-weight: 700;
    color: #ff0;
    padding-top: .16rem
}

.balance {
    font-size: .37rem;
    color: #fff;
    font-weight: 700
}

.pick-close {
    font-size: .59rem;
    padding: .11rem;
    color: #ff0;
    position: absolute;
    right: .27rem;
    top: 50%;
    transform: translateY(-50%)
}

._count_mv9bo_38 {
    text-align: center;
    height: .8rem;
    font-size: .4rem;
    line-height: .8rem;
    background: #fff
}

._header_mask_mv9bo_46 {
    height: 2.29rem
}

._td_active_10mm2_1 {
    background: #f90;
    color: #fff
}


.picker_wrap .adm-input {
    display: inline-block!important;
    margin-left: .11rem!important;
    width: auto!important;
    min-height: .45rem!important
}

.table_container {
    flex: 1;
    box-sizing: border-box;
    overflow-y: scroll;
    overscroll-behavior-y: none;
    padding: .16rem
}

.table_container .title {
    font-size: .43rem;
    color: #903;
    font-weight: 700
}

.table_container .leading {
    font-size: .43rem;
    line-height: .43rem
}

.table_container .align {
    display: flex;
    align-items: center;
    line-height: .37rem
}

.table_container .center {
    display: flex;
    justify-content: center;
    align-items: center
}

.table_container .grid {
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(2,1fr);
    box-sizing: border-box;
    gap: .21rem;
    padding: .32rem 0
}

.table_container .mar_l {
    margin-left: .43rem
}

.table_container .mar_t {
    margin-top: .21rem
}

.table_container .mar_t_2 {
    margin-top: .05rem
}

.table_container .mar_t_4 {
    margin-top: .11rem
}

.table_container .mar_l_4 {
    margin-left: .11rem
}

.table_container .mar_l_8 {
    margin-left: .21rem!important
}

.table_container .mar_b {
    margin-bottom: .21rem
}

.table_container .input_item {
    margin-left: .21rem!important
}

.table_container .text_left {
    text-align: left;
    padding-left: .11rem
}

.table_container .block {
    display: inline-block
}

.table_container .conetnt_container {
    padding: .32rem .11rem
}

.table_container .fs_15 {
    font-size: .4rem
}

.table_container .fs_16 {
    font-size: .43rem
}

.table_container .check_wrap {
    padding: .21rem .11rem;
    text-align: left
}

.table_container .check_container {
    display: inline-block;
    margin-right: .11rem;
    padding: .05rem 0;
    line-height: .35rem;
    padding: .11rem 0
}

.table_container .check_container:nth-child(2n) {
    margin-right: 2.24rem
}

.table_container .input_item {
    width: 1.6rem!important
}

.table_container .button_item {
    height: .8rem;
    line-height: .64rem;
    padding: 0 .32rem;
    background: #0894ec;
    color: #fff;
    margin: 0 .05rem;
    font-size: .37rem;
    border-radius: .16rem
}

.table_container .ul_item {
    display: grid;
    grid-column: span 7;
    grid-template-columns: repeat(7,1fr);
    box-sizing: border-box
}

.table_container .li_item {
    line-height: .96rem;
    text-align: center
}

.table_container .gf-ul {
    padding-top: 1px;
    padding-left: 1px
}

.table_container .gf-li {
    border: 1px solid #666;
    margin-left: -1px;
    margin-top: -1px
}

.table_container .code_header {
    height: .8rem;
    line-height: .8rem;
    background-color: #e3f5fd
}

.table_container .code_wrap {
    overflow-y: scroll;
    min-height: 2.67rem;
    max-height: 4rem;
    line-height: 4rem
}

.table_container .closed_item {
    height: 4rem;
    font-size: .4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.table_container .amount_item {
    font-size: .43rem;
    height: 1.17rem;
    line-height: 1.17rem
}

.table_container .amount_input {
    width: 1.6rem!important
}

.table_container .send_button {
    border-radius: .16rem;
    background-color: #0894ec;
    width: 1.39rem;
    height: .8rem;
    line-height: .37rem;
    font-size: .37rem;
    color: #fff;
    margin-left: .11rem;
    padding: 0
}

.table {
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center
}

.table tr {
    height: 1.07rem
}

.table td {
    border: .03rem solid #f6d3bc
}

._picker_wrap_module_1ez5x_1 input {
    min-height: .43rem;
    line-height: 1;
    font-size: .32rem;
    border: .03rem solid #767676;
    padding: 0 .05rem;
    max-width: 2.4rem;
    background: #fff;
    border-radius: .08rem
}

._picker_wrap_module_1ez5x_1 input:focus {
    border: .03rem solid #ff9900
}

._prompt_1ez5x_15 {
    font-size: .4rem;
    line-height: .69rem
}
.md-popup-box {
    position: relative;
    pointer-events: auto;
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}
.md-dialog-content {
    width: 95vw;
    background-color: #fff;
    overflow: hidden;
    border-radius: 1.6vw;
}
.md-dialog-body {
    color: #666f83;
    font-size: 3.23333vw;
    text-align: left;
    position: relative;
    padding: 1.93333vw;
}
.md-dialog-close {
    position: absolute;
    color: #858b9c;
    right: 4.26667vw;
    z-index: 15;
}
.md-dialog-title {
    color: #01080f;
    text-align: center;
    font-size: 5.33333vw;
    font-weight: 400;
    /* line-height: 1.2; */
    /* margin: 0 0 3.73333vw; */
}